:root{
    --primary-color:#33a2c4;
}

body{
      text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 300;  
    background-color:midnightblue;
}
.container{
    max-width: 80%;
    margin:0 auto;
    background-color: white;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url("/img/mini-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    letter-spacing: 5px;
    padding:120px 0;
    text-transform: capitalize;

}
h1{
    font-size: 94px;
    font-weight: 700px;
    line-height: 1;
}
h2{
    font-weight: 400;
    font-size: 38px;
    line-height: 1;
    margin-bottom: 120px;
}
h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
}
header a{
    font-weight: 700;
    background:rgba(255, 255, 255, 0.9);
    font-size: 18px;
    padding:30px 40px;
    border-radius: 8px;
    border: 3px solid var(--primary-color);
    text-decoration: none;
    color:#33a2c4;
    text-transform:uppercase;

}
header a:hover{
    border:3px solid white;
    background-color: var(--primary-color);
    color:white;
    text-decoration: underline;
}
.grid{
    display:grid;
    column-gap: 20px;
}
.main-section-text {

    text-align: left;
}
main .grid{
    grid-template-columns: 1fr 1fr;
}
main h3{
    opacity: 0.5;
    padding:10px 0 0 0;
    margin:0;
}
main h2{
    padding:0;
    font-size: 44px;
    margin:10px 0 45px 0;
}
main p{
    padding:0;
    font-size: 16px;
}
main{
    padding: 20px;
    margin:50px 150px;
}
img{
    display:flex;
    max-width: 100%;
}
footer section {
    max-width: 80%;
    margin:0 auto;
}
footer .grid{
    grid-template-columns: 1fr 2fr 2fr;
}
footer{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/img/MGA_MakeItMiniCafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding:80px 0;
    text-align: left;
}
footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    opacity:0.7;
}
footer ul{
    padding:0;
}
footer li{
    list-style: none;
    text-decoration: none;
    margin:0;
    padding:0 0 10px 0;
}
footer a{
    color:white;
    opacity: 0.7;
    text-decoration: none;
}

@media(width < 960px){
    header h1{
        font-size:46px;
    }
    header h2{
        font-size:18px;
        margin-bottom:60px;
    }
    header h3{
        font-size:16px;
    }
    header a{
        font-size:10px;
        padding:15px 20px;
        margin:0;
    }
    header{
        padding:60px 0;
    }
    
    main h2 {
            font-size: 32px;
            padding:0;
            margin:5px 0;
        }
    
    main p {
            font-size: 12px;
        }
    main .grid{
            grid-template-columns: 1fr;
        }
    main .main-section-text{
        padding:0;
        margin:0;
    }
    main{

        margin:0;
    }
}